# Logs
logs
*.log

# Environment files
.env
.env.local
.env.production
.env.test
secrets/*

node_modules/

# Docker overrides (local development only)
docker-compose.override.yml
/src/generated/prisma

dist